:root {
    --background-color: #ECEFF1;
    --text-color: rgba(0,0,0,0.87);
    --message-background: white;
    --message-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --link-background: #039be5;
    --link-text-color: white;
    --h2-color: #ffa100;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    --background-color: #263238;
    --text-color: #eceff1;
    --message-background: #37474f;
    --message-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.3);
    --link-background: #00796b;
    --link-text-color: white;
    --h2-color: #ffc107;
}

#message {
    background: var(--message-background);
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
    box-shadow: var(--message-shadow);
}

#message h2 {
    color: var(--h2-color);
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: var(--text-color);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: var(--link-background);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-text-color);
    padding: 16px;
    border-radius: 4px;
    box-shadow: var(--message-shadow);
}

#load {
    color: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: var(--message-background);
        box-shadow: none;
    }
    body {
        border-top: 16px solid #ffa100;
    }
}

#theme-toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--link-background);
    color: var(--link-text-color);
    cursor: pointer;
    box-shadow: var(--message-shadow);
}